apps/storysphere/public/*.xml filter=lfs diff=lfs merge=lfs -text
apps/storysphere/public/*.jpg filter=lfs diff=lfs merge=lfs -text
apps/storysphere/public/*.mp4 filter=lfs diff=lfs merge=lfs -text
apps/storysphere/public/*.zip filter=lfs diff=lfs merge=lfs -text
apps/storysphere/public/*.torrent filter=lfs diff=lfs merge=lfs -text
apps/storysphere/public/*.sqlite filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
