# dependencies
node_modules
.pnp*
pnp.lock.yaml

# next.js
.next
out

# turborepo
.turbo

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
dist
build

# media assets (host externally, not in repo)
apps/storysphere/public/*.mp4
apps/storysphere/public/*.zip
apps/storysphere/public/*.torrent
apps/storysphere/public/*.sqlite
apps/storysphere/public/*.xml
apps/storysphere/public/*.jpg
apps/storysphere/public/*.ts
apps/storysphere/public/*.tsx
